body {
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size:80%;
    margin:10px;
    background-color: #6B6B6B;
    color: #FFFFFF;
}

#header {
    padding-bottom: 3.5em;
    padding-top: 3.5em;
    width: 840px;
}

#header h1 {
    font-size: 156%;
    display:inline;
    padding-bottom: 50px;
    padding-left: 144px;
    padding-top: 75px;
    background:url(/icons/red-cross-128.png) no-repeat;
    background-size: 128px;
    background-position:1px 18px;
    margin-top: 13px;
    margin-bottom: 0px;
}

.section-header {
    background:#BB1313;
    border-top:3px solid #4E4E4E;
    font-size:150%;
    padding:3px 0 2px 5px;
    font-weight:bold;
    margin-bottom:1em;
    margin-top:2em;
}

.section-header.first {
    margin-top:1em;
}

#custom-domain {
    width:300px;
    margin-left:2px;
}

/*
 *#footer {
    margin-top:2em;
}
*/

.button-box {
    margin-top:2em;
}

#message-box{
    margin-top:2em;
    font-size:120%;
}

input[type="text"] {
    width: 270px;
    color: #FFFFFF;
    background-color: #6B6B6B;
}

input.button{
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 3px;
}

input.button-green{
    background: #12B40B;
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#16B608),to(#167E12));
    background-image: -moz-linear-gradient(top,#16B608,#167E12);
    background-image: -ms-linear-gradient(top,#16B608,#167E12);
    background-image: -o-linear-gradient(top,#16B608,#167E12);
    background-image: linear-gradient(top,#16B608,#167E12);
    border: 2px solid #16B608;
    background-clip: padding-box;
}